@model PagedList.IPagedList<MvcTesting.Models.Movie>

@{
    ViewBag.Title = "Index";
}

@helper Pagination(PagedList.IPagedList<MvcTesting.Models.Movie> model)
{
    @Html.Raw("Page "); @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>of</text> @Model.PageCount
    if (Model.HasPreviousPage)
    {
        @Ajax.ActionLink("First", "ajax_list", "Movie", new { page = 1}, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"})
        
        @Html.Raw(" | ");
        @Ajax.ActionLink("Previous", "ajax_list", new {page = Model.PageNumber - 1}, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"})
    }
    else{
     @:First | Previous
    }
    @Html.Raw(" | ")
    if (Model.HasNextPage)
    {
        @Ajax.ActionLink("Next", "ajax_list", "Movie", new {page = Model.PageNumber + 1}, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"})
        @Html.Raw(" | "); 
        @Ajax.ActionLink("Last", "ajax_list", new {page = Model.PageCount}, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"})
    }
    else{
     @:Next | Last     
    }
        
}

<h2>ajax_list</h2>
@Ajax.ActionLink("Add Data", "ajax_new_form", new { data = "testing bro" }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "result" ,  HttpMethod = "GET"})  

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) 
        </td>
        <td>            
            @Ajax.ActionLink("Edit", "ajax_edit", new { id = item.Id }, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"}) |
            @Ajax.ActionLink("Detail", "ajax_detail", new { id = item.Id }, 
                 new AjaxOptions { HttpMethod = "GET", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result"}) |            
            @Ajax.ActionLink("Delete", "ajax_delete", new { id = item.Id }, 
                 new AjaxOptions { HttpMethod = "POST", 
                 InsertionMode = InsertionMode.Replace, 
                 UpdateTargetId = "result", Confirm = "Are you sure?"})            
        </td>
    </tr>
}
   
</table>

<div>
   @Pagination(Model)    
</div>

